{% extends 'base.html' %}
{% load static %}
{% load course_tags %}
{% block content %}


<div class ="container py-8 py-1g-11">
    <div class"row>
        <div class="col-xl-8 mx-xl-auto">
            <img src ="{% static 'assets/img/success.png' %}" width="80px" class="img-fluid mx-auto d-block">
            <header class=" entry-header mt-4">
                <h1 class="entry title text-center">Order Received</h1>
                <p class = "text-center">Thank You. Your order has been revceived.</p>
            </header>
            <div class="row border border-info p-4">
                <div class